$color-white: rgb(255, 255, 255);
$color-black: #201f1f;
$primary-color: #332a8e;
$primary-color-deep: #38287b;
$primary-color-light: #4941a2;
$secondary-color: #f59f00;
$dark-color: #1f242b;
$gradient: linear-gradient(90deg, #332a8e 0%, #4941a2 73%);
$text-color-dark: #201f1f;
$text-color-light: #ffffff;
$text-color-secondary: #f59f00;
$font-family: 'Quicksand', sans-serif;